@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #50623A;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #294B29;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #50623A;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #50623A;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}



.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
 
.task-info {
  display: flex;
  align-items: center;
}

.date-added {
  margin-left: 1rem;
  color: #ffffff4d;
  font-size: 0.75rem;
}

.task-actions {
  display: flex;
  align-items: center;
}

.complete-button {
  background: #fff;
  color: #50623A;
  border: #1A1A40;
  border-radius: inherit;
  border-color: #1A1A40;
  padding: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #50623A;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.filter-buttons {
  gap: 1rem;
  margin-bottom: 1rem;

  
}

.filter-buttons button {
  background: #50623A;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
  margin-right: 1rem;
}

.filter-buttons button:hover {
  background: #294B29;
}